@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.cell-text {
    font-size: 5px;
    font-weight: bold;
}

@keyframes moving-appear {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }

    40% {
        opacity: 1;
        transform: translateY(30px)
    }

    100% {
        transform: translateY(0px)
    }
}

@keyframes appear {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.game-over-animation {
    animation: moving-appear .6s .2s backwards;
}

.game-over-menu-animation {
    animation: appear .4s .6s backwards;
}