<div class="px-4 py-10 sm:py-28 sm:px-6 lg:px-8 xl:py-32 xl:px-28">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1 class="mt-10 flex items-center text-sm font-semibold leading-6 text-brand">
      2048
    </h1>
    <p class="mt-4 text-[2rem] font-semibold leading-10 tracking-tighter text-zinc-900">
      This is a placeholder page.
    </p>
    <p class="mt-4 text-base leading-7 text-zinc-600">
      See README.md for details on how to run this game.
    </p>
  </div>
</div>
